# docker-compose -f docker-compose.infrastructure.yml up -d
services:
  postgres:
    image: postgres:16-alpine
    container_name: xx-nest-postgres
    environment:
      POSTGRES_USER: xx_nest_user
      POSTGRES_PASSWORD: xx_nest_password
      POSTGRES_DB: xx_nest_db
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U xx_nest_user -d xx_nest_db']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: xx-nest-redis
    ports:
      - '6666:6379'
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres-data:
  redis-data:
